.customers {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    // max-width: 170px;
    width: calc((100% - 4 * 15px) / 2);
    height: 92px;
    margin: 15px;
    
    @media screen and (min-width: 768px) {
      width: calc((100% - 6 * 15px) / 3);
    }
    
    @media screen and (min-width: 1200px) {
      width: calc((100% - 12 * 15px) / 6);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    height: 100%;
    color: #afb1b8;
    outline: 1px solid #afb1b8;
    border-radius: 4px;
    transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color, outline-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $accent-color;
    }

    &:hover,
    &:focus,
    &:focus .icon--customers {
      outline-color: $accent-color;
      fill: $accent-color;
    }
  }
}
