.descr {
  padding-bottom: 0;

  &__list {
    display: flex;
  }

  &__item {
    width: calc((100% - 8 * 15) / 4);
    margin: 15px;
  }

  &__image {
    background-color: #f5f4fa;
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    color: $secondary-title-color;
  }

  &__text {
    line-height: 1.71;
    color: $main-text-color;
    margin-top: 10px;
  }
}
