.overflow {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  border-radius: 5px;
  font-size: 12px;
  
  @media screen and (max-width: 480px) {
    width: calc(100% - 30px);
  }
  
  @media screen and (min-width: 481px) and (max-width: 1199px) {
    width: 450px;
  }
  
    // @media screen and (max-width: 1199px) {
    // }

    @media screen and (min-width: 1200px) {
    width: 528px;
    }

  &__close {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;

    &:hover,
    &:focus {
      fill: $accent-color;
      cursor: pointer;
    }
  }

  &__title {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }

  &__form {
    color: #757575;
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    position: relative;

    &:last-of-type {
      margin-bottom: 20px;
    }
  }

  &__input {
    width: 100%;
    margin-top: 4px;
    padding: 11px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    color: #212121;

    &:focus {
      border-color: $accent-color;
    }

    &:focus + .modal__icon {
      fill: $accent-color;
    }
  }

  &__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    padding: 12px 16px;

    &:focus {
      border-color: $accent-color;
    }

    &::placeholder {
      line-height: 16px;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 16px;
    height: 15px;
    outline: 2px solid #212121;
    outline-offset: -2px;
    border-radius: 2px;
    color: transparent;
    margin-right: 7px;

    &:focus {
      outline: 2px solid $accent-color;
    }
  }

  &__label {
    display: flex;
  }

  &__link {
    color: $accent-color;
  }
}

.checkbox {
  &__icon {
    fill: currentColor;
  }

  &:checked + .agreement__checkbox {
    outline-color: $accent-color;
    background-color: $accent-color;
    color: #fff;
  }
}
