.portfolio {
  &__btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;

    @media screen and (max-width: 767px) {
      width: 400px;
      justify-content: start;
    }
  }
  &__item {
    margin-bottom: 15px;
  }

  &__btn {
    background-color: #f5f4fa;
    border-radius: 4px;
    border: none;
    line-height: 1.6;
    font-weight: 500;
    font-family: inherit;
    padding: 6px 22px;
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__btn:hover,
  &__btn:focus,
  &__btn.checked-btn {
    background-color: $accent-color;
    cursor: pointer;
    color: #fff;
  }

  &__btn:hover {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &-poster {
    border: 1px solid #eeeeee;
  }
}

.projects {
  margin: -15px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: start;
  }
}

.projects__item {
  display: flex;
  width: 100%;
  margin: 15px;
  text-decoration: none;
  background-color: #fff;
  
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
  }
  
  @media screen and (min-width: 1200px) {
    width: calc((100% - 6 * 15px) / 3);
  }
}

.projects__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__descr {
  flex-grow: 1;
  padding: 20px 24px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

.projects__wrap {
  position: relative;
  overflow: hidden;
}

.projects__img {
  width: 100%;
}

.projects__overlay {
  position: absolute;
  top: 320px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__link:hover .projects__overlay,
.projects__link:focus .projects__overlay {
  top: 0;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $secondary-title-color;
  margin-bottom: 4px;
}

.projects__type {
  font-size: 16px;
  line-height: 1.8;
  color: $main-text-color;
}
