.team {
  background-color: #f5f4fa;

  & img {
    width: 100%;
  }

  &__list {
    @media screen and (min-width: 678px) {
      margin: -15px;
      display: flex;
      flex-wrap: wrap;
      // width: 100%;
    }

    @media screen and (min-width: 1200px) {
      // margin: -15px;
    }
  }

  &__item {
    box-shadow: 0px 1px 3px rgb(0, 0, 0, 12%), 0px 1px 1px rgb(0, 0, 0, 14%),
      0px 2px 1px rgb(0, 0, 0, 2%);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 678px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
    }
  }

  &__info {
    // display: flex;
    // flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 30px 10px;
    text-align: center;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: $secondary-title-color;
  }

  &__position {
    font-size: 16px;
    line-height: 1.19;
    color: $main-text-color;
    margin-top: 10px;
    margin-bottom: 16px;
  }
}

.team .social {
  justify-content: center;
}

.social__link.social__link--team {
  color: #afb1b8;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link.social__link--team:hover,
.social__link.social__link--team:focus {
  color: #fff;
}

.icon--social {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
