$main-title-color: #ffffff;
$secondary-title-color: #212121;
$main-text-color: #757575;
$secondary-text-color: #ffffff;
$accent-color: #2196f3;
$font-body: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;
